@page "{itemId}"
@model EditarModel
@{
    ViewData["Title"] = "Reuniões > Planos de Ação > Itens > Editar";
}

<div class="box blockableDiv">
    <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-begin="blockDivForAjaxRequest()" data-ajax-complete="unblockDivForAjaxRequest()" data-ajax-success="handleRedirectInAjaxRequest" data-ajax-failure="handleUserInteractionInAjaxFailure">
        <input asp-for="ReuniaoId" type="hidden" value="@Model.ReuniaoId" />
        <input asp-for="PlanoDeAcaoId" type="hidden" value="@Model.PlanoDeAcaoId" />
        <input asp-for="ItemId" type="hidden" value="@Model.ItemId" />
        <div class="box-body">
            <div class="row">
                <div class="col-xs-4">
                    <div class="form-group">
                        <div class="input-group date">
                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                            <input asp-for="PlanosDeAcaoItensPut.Prazo" value="@Model.PlanosDeAcaoItensPut.Prazo.Value.ToString("dd/MM/yyyy")" type="text" class="form-control pull-right datepicker" placeholder="Prazo">
                        </div>
                        <span asp-validation-for="PlanosDeAcaoItensPut.Prazo" style="font-size: 10px; color: #a94442;"></span>
                    </div>
                </div>

                <div class="col-xs-8">
                    <div class="form-group has-feedback">
                        <input asp-for="PlanosDeAcaoItensPut.Acao" type="text" class="form-control" placeholder="Ação">
                        <span class="glyphicon glyphicon-tasks form-control-feedback"></span>
                        <span asp-validation-for="PlanosDeAcaoItensPut.Acao" style="font-size: 10px; color: #a94442;"></span>
                    </div>
                </div>

                <div class="col-xs-12">
                    <button class="btn btn-default btn-block" type="submit" data-submit-ajaxform-pace>
                        <i class="fa fa-check"></i>
                        Concluir
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>