@page
@model CadastrarModel
@{
    Layout = null;
}

<div class="box box-widget blockableDiv" style="margin-bottom: 0; box-shadow: 0 0 0 0">
    <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-url="/Reunioes/Atas/Cadastrar" data-ajax-begin="blockDivForAjaxRequest()" data-ajax-complete="unblockDivForAjaxRequest()" data-ajax-success="handleRedirectInAjaxRequest" data-ajax-failure="handleUserInteractionInAjaxFailure">
        <input asp-for="ReuniaoId" type="hidden" value="@Model.ReuniaoId" />
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="form-group has-feedback">
                        <input asp-for="ReunioesAtasPost.Local" value="@Model.ReunioesGetResult.Local" type="text" class="form-control" placeholder="Local">
                        <span class="glyphicon glyphicon-map-marker form-control-feedback"></span>
                        <span asp-validation-for="ReunioesAtasPost.Local" style="font-size: 10px; color: #a94442;"></span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-2">
                    <div class="form-group">
                        <div class="input-group date">
                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                            <input asp-for="ReunioesAtasPost.Data" value="@DateTime.Now.Date.ToString("dd/MM/yyyy")" type="text" class="form-control pull-right datepicker" placeholder="Data de Realização">
                        </div>
                        <span asp-validation-for="ReunioesAtasPost.Data" style="font-size: 10px; color: #a94442;"></span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-clock-o"></i></div>
                            <input asp-for="ReunioesAtasPost.HorarioInicio" type="text" class="form-control pull-right timepicker" placeholder="Horário de Início">
                        </div>
                        <span asp-validation-for="ReunioesAtasPost.HorarioInicio" style="font-size: 10px; color: #a94442;"></span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-clock-o"></i></div>
                            <input asp-for="ReunioesAtasPost.HorarioFim" type="text" class="form-control pull-right timepicker" placeholder="Horário de Término">
                        </div>
                        <span asp-validation-for="ReunioesAtasPost.HorarioFim" style="font-size: 10px; color: #a94442;"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-xs btn-default btn-block" type="submit" data-submit-ajaxform-pace>
                        <i class="fa fa-check"></i>
                        Concluir
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    $(function () {
        applyPaceOnAjaxFormSubmit();
        applyLayoutOnCommonUIElements();
    });
</script>